<!DOCTYPE html>
<html>
<head>
  <title>UltimateQuizz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="ui fixed menu inverted navbar">
  <a href="/" class="brand item">Home</a>
</nav>

<main class="ui page grid">
  <div class="row">
    <div class="column ui segment">
      <%= yield %>
    </div>
  </div>
</main>

</body>
</html>
